body {
  margin: 0;
  padding: 0;
  background-image: url('back.png'); /* Replace 'your-image.jpg' with the path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Set the height of the background to fill the viewport */
}
.login-button {
    padding: 10px 20px;
    background-color: #007bff; /* Blue color, you can change it to fit your design */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  .login-button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
  }